
body{
    margin: 0;
    padding: 0;
}
#head{
    background-image: linear-gradient(to right, #800080, #FF0000);
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .navbar-brand img {
    height: 50px;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .navbar-brand img:hover {
    transform: translateY(-5px);
    opacity: 0.8;
  }
.violet{
    color: #663399; 
}
#main a{
    color: black;
}
.contenu{
    background-color:white;
    border-radius: 10px;
    padding: 20px;
}
#avant img{
    width: 150px;
    border-radius: 30px;
    height: 50%;

}
footer{
    background-color: rgb(21, 21, 63);
}
footer ul{
    list-style-type: none;
}
footer a{
    text-decoration: none;
    color: white !important;
    font-size: 20px;
   
    
}
footer a:hover{
   text-decoration: underline;
   color: #FF0000 !important;
}
footer i:hover{
    color: red !important;
}
